.title-container {
    background-color: #01752e;
    border-bottom: 2px solid #000000;
    padding: 5px 0px 5px 5px;
}
h1 {
    display: inline-block;
    color: white;
    margin: 0;
    padding: 0px 5px;
}
body {
    background-color: #fbfbfb;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0px 0px;
    padding: 0px 0px 48px 0px;
}
.status-message-container {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #fbfbfb;
    border-top: 2px solid #000000;
    padding: 2px 10px;
    z-index: 100;
}