/* General settings */
body {
    background-color: #fbfbfb;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0px 0px;
    padding: 0px 0px 48px 0px;
}

/* Non-body */
.title-container {
    background-color: royalblue;
    border-bottom: 2px solid black;
    padding: 5px 0px 5px 5px;
}
.status-message-container {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    background-color: #fbfbfb;
    border-top: 2px solid black;
    padding: 2px 10px;
    z-index: 100;
}
h1 {
    display: inline-block;
    color: white;
    margin: 0;
    padding: 0px 5px;
}

/* Body elements */
.body-container {
    padding: 10px 10px;
}
.body-widget-container {
    border: 1px solid #666666;
    border-radius: 8px;
}
.body-widget-title {
    background-color: royalblue;
    font-size: 18px;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 6px 6px 0px 0px;
}
