<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend Calendar</title>
    <style>
        body {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Friend Calendar</h1>

    {# Calendar Members #}
    <div>
        <h2>Calendar Members</h2>
        <table>
            <thead>
                <tr> <th>Name</th> <th>Home</th> </tr>
            </thead>
            <tbody>
                {% for single_person_calendar in calendar.single_person_calendars %}
                    <tr>
                        <td> {{ single_person_calendar.person.display_name_frontend }} </td>
                        <td> {{ single_person_calendar.person.home.display_name_frontend }} </td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>

        {# Button to clear all people #}
        <form method="post">
            <input type="hidden" name="request_type" value={{ RequestType.CLEAR_ALL_PEOPLE }}>
            <button type="submit">Clear All Members</button>
        </form>
    </div>

    {# Form: Add person #}
    <div>
        <h2>Add Person</h2>
        <form method="post">
            <input type="hidden" name="request_type" value={{ RequestType.ADD_PERSON }}>

            {# Free field for last and first name #}
            <label style="display:block; margin-bottom:10px;">
                Last Name: <input type="text" name="last_name">
            </label>
            <label style="display:block; margin-bottom:10px">
                First Name: <input type="text" name="first_name">
            </label>

            {# Drop-down list for home country, free field for home city #}
            <label style="display:block; margin-bottom:10px">
                Country:
                <select id="country", name="home_country">
                    {% for c in objects.Country %}
                        <option value="{{ c.name }}">{{ c.value.replace("_", " ").title() }}</option>
                    {% endfor %}
                </select>
            </label>
            <label style="display:block; margin-bottom:10px">
                City: <input type="text" name="home_city">
            </label>

            {# Submit button #}
            <button type="submit">Submit</button>
        </form>
    </div>

    {# Form: Add Trip #}
    <div>
        <h2>Add Trip</h2>
        <form method="post">
            <input type="hidden" name="request_type" value={{ RequestType.ADD_TRIP }}>

            {# Drop-down list for person #}
            <label style="display:block; margin-bottom:10px">
                Person:
                <select id="person", name="trip_person">
                    {% for single_person_calendar in calendar.single_person_calendars %}
                        <option value="hello">{{ single_person_calendar.person.display_name_frontend }}</option>
                    {% endfor %}
                </select>
            </label>

            {# Drop-down list for home country, free field for home city #}
            <label style="display:block; margin-bottom:10px">
                Country:
                <select id="country", name="trip_country">
                    {% for c in objects.Country %}
                        <option value="{{ c.name }}">{{ c.value.replace("_", " ").title() }}</option>
                    {% endfor %}
                </select>
            </label>
            <label style="display:block; margin-bottom:10px">
                City: <input type="text" name="trip_city">
            </label>
            <label style="display:block; margin-bottom:10px;">
                Start: <input type="date" name="start_date">
            </label>
            <label style="display:block; margin-bottom:10px;">
                End: <input type="date" name="end_date">
            </label>

            {# Submit button #}
            <button type="submit">Submit</button>
        </form>
    </div>

    {# Status messages #}
    <div>
        <h2>Status</h2>
        <div class="error"> {{ response.frontend_message }} </div>
    </div>
</body>
</html>
